@font-face {
    font-family: "From the woods";
    src: url("fonts/FromtheWoods-Regular.woff2");
}

html {
box-sizing: border-box;
color: white;
text-align: center;
}
*, *:before,*:after {
box-sizing: inherit;
}
body{
    margin: 0 auto;
}

h1{
    font-family: "From the woods";
    font-size: 7em;
    margin-top: 0;

}
h2, h3{
    font-family: 'Open Sans';
    font-weight: bold;
}
p{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 0.9em;
}
h3{
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
}
p{
    margin: 0 auto;
    width: 80%;
    
}
main{
    background-image: url("img/bg.jpg");
    background-size:contain;
  
    background-repeat: repeat-y;
    
    
 
}
.circles{
width: 630px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  height: 700px;
}
.circle{
    background-color: #4f6a13;
    border-radius: 50%;
    width: 300px;
    height: 300px;

    text-align: center;
    padding: 10px;
}
.circle__tent{
  position: absolute;
}
.circle__cell {
  position: absolute;
  top: 200px;
  right: 0px;
    
}

.circle__community {
   position: relative;
   top: 370px;

}



img{
    width: 100px;
}

footer{
    background-color: #2d4823;

    padding: 20px;
}